* {
  /*outline: 2px solid rgba(255, 0, 0, 0.185);*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
@font-face {
  font-family: viking;
  src: url(../fonts/Acadian_Runes-Regular_PERSONAL_USE.ttf);
}
h1 {
  text-align: center;
  color: white;
  font-family: viking;
  margin-top: 10px;
  font-weight: 100;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #1e1d30;
}

.box-pie {
  height: auto;
  width: 500px;
  margin: 50px auto;
  display: inline-block;
  background-color: #121828;
}

.pie-img {
  margin: 20px auto;
  display: block;
  border: 1px solid white;
}

.ingredients-pie {
  width: 500px;
  display: flex;
  padding: 5px;
}

.filling {
  width: 240px;
  margin-left: 45px;
  margin-right: 10px;
  display: inline-block;
}
.Ingredients {
  width: 240px;
  margin-left: 10px;
  margin-right: 45px;
  display: inline-block;
}
ul {
  list-style: none;
}
