body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.box-pie {
  height: auto;
  width: 500px;
  margin: auto;
  background-color: #f2e9c6;
  border: 5px solid black;
  display: inline-block;
}
.background-pie {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/seamless-strawberry-fruit-pattern-pixel-style_22359-12.jpg);
  z-index: -1;
  filter: blur(5px);
}

.pie-img {
  margin: auto;
  display: block;
}
